@model Product

@{
    ViewBag.Title = "Обновить информацию о товаре";
}

<section class="row">
    <div class="row">
        <hЗ class="p-2 bg-primary text-white text-center">Страница обновления информации о товаре</hЗ>
    </div>
    <form asp-action="UpdateProduct" method="post" class="p-2 row">
        <div class="p-2">
            <label asp-for="Name">Название товара</label>
            <input asp-for="Name" class="form-control"/>
        </div>
        <div class="p-2">
            <label asp-for="CategoryId">Категория товара</label>
            <select class="form-control" asp-for="CategoryId">
                @if (Model.Id == Guid.Empty)
                {
                    <option disabled selected>Выберите категорию</option>
                }
                @foreach (Category category in ViewBag.Categories)
                {
                    <option selected=@(Model.Category?.Id == category.Id) value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <div class="p-2">
            <label asp-for="PurchasePrice">Стоимость покупки</label>
            <input asp-for="PurchasePrice" class="form-control"/>
        </div>
        <div class="p-2">
            <label asp-for="SalePrice">Стоимость продажи</label>
            <input asp-for="SalePrice" class="form-control"/>
        </div>
        <div class="p-2">
            <label asp-for="Quantity">Количество</label>
            <input asp-for="Quantity" class="form-control"/>
        </div>
        <div class="p-2">
            <label asp-for="Description">Описание</label>
            <input asp-for="Description" class="form-control"/>
        </div>
        <div class="text-center p-3">
            <button class="btn btn-primary" type="submit">Сохранить</button>
            <a asp-action="HomePage" class="btn btn-secondary">Отмена</a>
        </div>
    </form>
</section>