@{
    Layout = "~/Views/Store/_Layout.cshtml";
}
<div class="text-center m-4">
    <h2>Спасибо за покупку!</h2>
    <p>Спасибо вам за ваш заказ</p>
    <a asp-action="Index" asp-controller="Store"
       class="btn btn-primary">
        Вернуться на главную
    </a>
</div>